/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto";
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
}

img {
    height: 50px;
    width: auto;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px auto;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

header {
    grid-area: header;
    background-color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    padding-left: 0.5rem;
}

.sidebar ul {
    font-size: 1.5rem;
    color: white;
    list-style-type: none;
    padding: 0px;
    padding-bottom: 3rem;
    margin: 0px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.sidebar li {
    /* background-image: url(./images/cog.svg); */
    background-repeat: no-repeat;
    background-size: 2.5rem auto;
    background-position: 1rem 0.6rem; 
    padding-left: 4.5rem; 
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.sidebar .icon-home {
    background-image: url(./images/home.svg);
}

.sidebar .icon-profile {
    background-image: url(./images/card-account-details-outline.svg);
}

.sidebar .icon-messages {
    background-image: url(./images/message-reply.svg);
}

.sidebar .icon-history {
    background-image: url(./images/clock.svg);
}

.sidebar .icon-tasks {
    background-image: url(./images/note-multiple.svg);
}

.sidebar .icon-communities {
    background-image: url(./images/account-group.svg);
}

.sidebar .icon-settings {
    background-image: url(./images/cog.svg);
}

.sidebar .icon-support {
    background-image: url(./images/help-box.svg);
}

.sidebar .icon-privacy {
    background-image: url(./images/shield-check.svg);
}

main {
    grid-area: main;
    background-color: #e2e8f0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn-blue {
  align-items: center;
  appearance: button;
  background-color: #1992d4;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Roboto",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-blue:active {
  background-color: #006AE8;
}

.btn-blue:hover {
  background-color: #1C84FF;
}

.header-top > button {
    border:none;
    background-color:transparent;
    outline:none;
}

.btn-search:hover,
.btn-bell:hover {
    background-color: lightgray;
}

.avatar {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

